<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <connectionStrings>
        <add name="ResultServerDb" connectionString="data source=.;initial catalog=ResultServerDb;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" />
        <add name="ClinModel" connectionString="data source=.;initial catalog=BMLims;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" />
        <!-- <add name="ClinModel" connectionString="data source=.;initial catalog=BMLims;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" /> -->
        <add name="AuditContext" connectionString="data source=.;initial catalog=BMLimsAudit;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" /> 

        <!--<add name="ClinModel" connectionString="data source=192.168.1.100;initial catalog=BMLims;MultipleActiveResultSets=true;User ID=BMLims_User;Password=sqlserver;" providerName="System.Data.SqlClient" />-->
        <add name="WinLabContext" connectionString="data source=.;initial catalog=Hobad_WinLabDB;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" />
        <!-- <add name="ClinModel" connectionString="data source=.;initial catalog=bm_kremia;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" /> -->
        <add name="TurbModel" connectionString="data source=.;initial catalog=__Turb1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
        <add name="SmsServerDB" connectionString="data source=.;initial catalog=_SmsServerDB;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" />
        <!--<add name="ClinModel" connectionString="data source=.;initial catalog=BM_badis;MultipleActiveResultSets=true;integrated security=True;" providerName="System.Data.SqlClient" />-->
        <!--<add name="ClinModel" connectionString="Server=tcp:bmlimsdbserver.database.windows.net,1433;Initial Catalog=BMLims;Persist Security Info=False;User ID=bmlims_user;Password=Sqlserver2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>